.aws-sam
.metadata
.vscode
samconfig.toml
lambdas/Model/dependency-reduced-pom.xml
lambdas/Model/target/
lambdas/inputDataTable/create/dependency-reduced-pom.xml
lambdas/inputDataTable/create/target/
lambdas/inputDataTable/read/dependency-reduced-pom.xml
lambdas/inputDataTable/read/target/
lambdas/outputDataTable/read/dependency-reduced-pom.xml
lambdas/outputDataTable/read/target/
lambdas/sqsTrigger/dependency-reduced-pom.xml
lambdas/sqsTrigger/target/
lambdas/sqslistner/dependency-reduced-pom.xml
lambdas/sqslistner/target/
service/.classpath
service/.project
service/.settings/
service/target/